<!-- views/users/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    

    <div class="container mb-3">

      
      
      <% if(user){ %>
        <h3 class="mb-3">로그인 성공</h3>

    
      <% } else{ %>
        <h3 class="mb-3">로그인 실패</h3>
        
    <% } %>
  </div>
  </body>
</html>